<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.shu.dao.MenuMapper">
    <resultMap id="menuResult" type="Menu">
        <id property="id" column="id"></id>
        <result property="parentId" column="parentId"></result>
        <result property="href" column="href"></result>
        <result property="icon" column="icon"></result>
        <result property="name" column="name"></result>
        <result property="description" column="description"></result>
        <result property="orderNum" column="orderNum"></result>
        <result property="shown" column="shown"></result>
        <result property="level" column="level"></result>
        <result property="createdTime" column="createdTime"></result>
        <result property="updatedTime" column="updatedTime"></result>
        <result property="createdBy" column="createdBy"></result>
        <result property="updatedBy" column="updatedBy"></result>

        <collection property="subMenuList" ofType="Menu" select="findSubMenuListByPid" column="id"></collection>
    </resultMap>



    <!--查询所有父子菜单信息-->
    <select id="findSubMenuListByPid" parameterType="int" resultMap="menuResult">
        select * from menu where parent_id =#{pid}
    </select>

    <select id="findAllMenu" resultType="menu">
        select * from menu
    </select>

    <select id="findMenuInfoById" resultType="menu">
        select * from menu where id = #{id}
    </select>


</mapper>

