<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.shu.dao.RoleMapper">
    <select id="findAllRole" parameterType="String" resultType="role">
        select * from roles
        <where>
            <if test="value !=null and value!=''">
                and name like concat("%",#{name},"%")
            </if>
        </where>
    </select>


    <select id="findAllMenu" resultType="Menu">
        select * from menu
    </select>


    <select id="findMenuByRoleId" parameterType="int" resultType="int">
        SELECT m.id
        FROM roles r INNER JOIN role_menu_relation rm ON r.id = rm.role_id INNER JOIN menu m ON m.id = rm.menu_id WHERE r.id=#{roleId};
    </select>


    <delete id="deleteRoleContextMenu" parameterType="int">
        delete from role_menu_relation where role_id = #{roleId}
    </delete>

    <insert id="RoleContextMenu" parameterType="Role_menu_relation">
        insert into role_menu_relation values(null,#{menuId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby} )
    </insert>

    <delete id="deleteRole" parameterType="int">
        delete from roles where id = #{rid}
    </delete>


</mapper>